<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <script src="https://unpkg.com/windicss-runtime-dom"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Primary Meta Tags -->
    <title>{% block page_title %}Eray C.{% endblock %} - Eri.gg</title>

    <meta name="title" content="Eri.gg" />
    <meta name="author" content="Eray C." />
    <meta
      name="description"
      content="{% block page_description %}Random French student learning some code, messing around with Python and writing some stories on Medium.{% endblock %}"
    />
    <meta name="theme-color" content="#e5e7eb" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Eray C." />
    <meta property="og:title" content="Eri.gg" />
    <meta property="og:description" content="{{ self.page_description() }}" />
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:image"
      content="https://media.discordapp.net/attachments/712969229506183198/831109920103465000/img_caching.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:author" content="Eray C." />
    <meta property="twitter:title" content="Eri.gg" />
    <meta
      name="twitter:image:src"
      content="https://media.discordapp.net/attachments/712969229506183198/831109920103465000/img_caching.png"
    />

    <meta
      property="twitter:description"
      content="{{ self.page_description() }}"
    />

    <link
      rel="icon"
      href="https://images-ext-2.discordapp.net/external/5Hi7Y5E0rvFTKpKPeGg6Uc1p1-itFQPf4AwEsjzcUqo/https/i.imgur.com/tGibRPY.png"
      type="image/x-icon"
    />

    {% block page_css %} {% endblock %}
  </head>

  {% include "components/navbar.html" %}

  <body>{% block page_body %} {% endblock %}</body>

  {% block page_scripts %} {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>
