<head>
    <!-- Primary Meta Tags -->
    <title>Eri.gg</title>
    <meta name="title" content="Eri.gg">
    <meta name="description" content="Welcome to my blog. You will find there the list of my Medium stories.">
    <meta name='theme-color' content='#d7c09a'>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://eri.gg/">
    <meta property="og:title" content="Eri.gg">
    <meta property="og:description" content="Welcome to my blog. You will find there the list of my Medium stories.">
    <!-- <meta property="og:image" content="https://cdn.discordapp.com/avatars/187316528100802560/a_ef087b54ed03e3cd1c1aada0ea6ade87.gif"> -->
    <meta property="og:locale" content="en_GB" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://eri.gg/">
    <meta property="twitter:title" content="Eri.gg">
    <meta property="twitter:description" content="Welcome to my blog. You will find there the list of my Medium stories.">
    <!-- <meta property="twitter:image" content="https://cdn.discordapp.com/avatars/187316528100802560/a_ef087b54ed03e3cd1c1aada0ea6ade87.gif"> -->

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<div class="bg-gradient-to-b from-gray-900 to-gray-800 bg-opacity-100">

    <header class="text-gray-200 border-t-8 border-indigo-900 border-opacity-80">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex items-center text-gray-200 mb-4 md:mb-0">
          <span class="text-2xl font-light">Eri.gg</span>
        </a>
    
      </div>
    </header>
    
    <div class="container 2xl:px-10 lg:px-6 px-6 mx-auto flex md:flex-row flex-col overflow-hidden text-gray-200 py-24">
    
      <div id="left-profile" class="md:w-1/3 overflow-hidden mx-auto">
    
        <h1 class="max-w-sm mt-4 font-semibold text-3xl">Görünüşe göre bitmemiş bir alana giriş yaptınız.</h1>
        <p class="max-w-sm ml-0.5 mt-4 mb-4 mr-2">Fakat evet, bir bloga sahibim. En son ki hikayeme Medium'dan erişebilirsiniz.</p>
    
        <div class="bg-gray-800 p-4 rounded-sm border-l-4 border-black">
          <p class="text-xs">Medium</p>
          <a href="https://eri.gg/blog/latest" class="my-2 text-blue-400">Beş yıllık ve son Discord hikayem...</a>
          <p class="text-sm">Uzun bir aradan sonra, kişisel yönlere daha odaklı olan bu hikayenin devamını paylaşmak istedim. Ve evet, bu son.</p>
          <a href="https://eri.gg/blog/latest"><img class="rounded-md my-4" src="https://miro.medium.com/max/696/0*wX0mAYAzEJYiByRA.jpg"></a>
          <p class="text-xs"><img class="rounded-full inline-flex w-5 mr-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Medium_logo_Monogram.svg/1200px-Medium_logo_Monogram.svg.png"><a href="https://eri.gg/blog/latest"> Medium'da okumaya başlayın.</a></p>
        </div>
    
      </div>
    
    </div>
    
    <div class="py-14"></div>
    
    </div>