<header class="text-gray-800 dark:text-gray-200 border-t-8 border-gray-700 border-opacity-20">

    <div class="container justify-items-center flex flex-wrap p-4 md:flex-row items-center justify-between">
      
      <a class="flex md:mb-0 text-2xl md:ml-4 font-semibold">
        Eri.gg
      </a>

        <button id="themeButton" class="md:mr-5 p-1.5 bg-gray-500 dark:bg-gray-600 bg-opacity-20 rounded-full text-gray-600 dark:text-gray-200 cursor-pointer outline-none">
          <div class="dark:block hidden">{% include "icons/light.svg" %}</div>
          <div class="dark:hidden block">{% include "icons/dark.svg" %}</div>
        </button>

      </nav>

    </div>

</header>