<header class="text-gray-800 dark:text-gray-200 border-t-8 border-gray-700 border-opacity-20">
    <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
      <a class="flex items-center mb-4 md:mb-0">
        <span class="text-2xl md:ml-4 font-semibold">Eri.gg</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <button id="themeButton" class="md:mr-5 p-1.5 bg-gray-500 dark:bg-gray-600 bg-opacity-20 rounded-full text-gray-600 dark:text-gray-200 cursor-pointer outline-none">
          <div class="dark:block hidden">{% include "icons/light.svg" %}</div>
          <div class="dark:hidden block">{% include "icons/dark.svg" %}</div>
        </button>
      </nav>
    </div>
</header>