{% if discord.success == True %}

<div class="mt-4 font-semibold text-3xl">
  Eray C.
  <span
    id="status-icon"
    class="w-3 h-3 rounded-full inline-flex animate-pulse bg-gray-400"
  >
  </span>
</div>

{% if discord.listening == True %}
<div id="spotify-session" class="ml-0.5 text-sm mt-1 break-word">
  <span class="w-2 h-2 bg-red-500 rounded-full inline-flex animate-pulse">
  </span>
  <span id="listening" class="ml-1"><i>Fetching...</i> </span>
</div>
{% else %}
<p id="main-desc" class="ml-0.5 text-base mt-1">
  French student messing around with Python.
</p>
{% endif %}

{% else %}
<div class="mt-4 font-semibold text-3xl">Eray C.</div>
<p id="main-desc" class="ml-0.5 text-base mt-1">
  French student messing around with Python.
</p>
{% endif %}
