<div class="flex my-3 space-x-1 overflow-hidden">

    <a id="discord" href="{{ url_for('social_discord') }}" class="my-1 px-1 text-gray-800">
        {% include "icons/discord.svg" %}
    </a>
  
    <a id="twitter" href="{{ url_for('social_twitter') }}" class="my-1 px-1 text-gray-800">
        {% include "icons/twitter.svg" %}
    </a>
  
    <a id="github" href="{{ url_for('social_github') }}" class="my-1 px-1 text-gray-800">
      {% include "icons/github.svg" %}
    </a>
  
    <a id="linkedin" href="{{ url_for('social_linkedin') }}" class="my-1 px-1 text-gray-800">
      {% include "icons/linkedin.svg" %}
    </a>
  
  </div>
